* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

nav {
    font-size: 120%;
    height: 80px;
    background-color: rgb(32, 32, 32);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
}

#logo {
    padding: 0 10px;
    font-size: 50px;
}

.house_folder {
    display: inline-block;
    text-align: center;
    padding: 20px;
}

.tytul {
    font-size: 60px;
    padding-bottom: 30px;
}

#figurines {
    padding: px;
}

.house {
    box-shadow: 0px 0px 3px 1px black;
}

#house_series {
    justify-content: center;
    display: inline-block;
    text-align: center;
}

#logo_house {
    width: 25%;
    height: 25%;
    padding: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#potop_series {
    font-size: 100px;
}

.download {
    text-decoration: none;
}

.download_button {
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 25px;
    width: 99%;
    display: inline-flexbox;
    text-align: center;
}
